&spi4 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	cs-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi4_default>;
	pinctrl-1 = <&spi4_sleep>;
	pinctrl-names = "default", "sleep";
	lora0: sx1262@1 {
		compatible = "semtech,sx1262";
		reg = <0>;
		reset-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
		dio-gpios = <&gpio0 28 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		power-amplifier-output = "pa-boost";
		spi-max-frequency = <125000>;
	};
};

/ {
     aliases {
             lora0 = &lora0;
     };
};